
                    /*.container w=1400px*/
a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

                    /*bg header block*/

.header-inner {
    background: url("../img/block-1-header/block-1-bg.jpg") center no-repeat;
    background-size: cover;
}

                   /*inner nav*/

.nav-inner {
    padding-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

                   /*pos logo*/            

.logo-img-header {
        vertical-align: middle;
}

.logo-item {
    margin-left: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #533738;
    text-decoration: none;
    text-transform: uppercase;
}

/*Main menu*/

.nav-item {
    display: inline-block;
    margin-left: 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.nav-item:first-child {
    margin-left: 0;
}

    .nav-item:last-child {
        margin-left: 40px;
    }

    .nav-item > a {
        text-decoration: none;
        color: #533738;
    }

        .nav-item > a:hover {
            color: #CC8B86;
        }

                /*Main Header*/

.main-header-inner {
    margin: 94px 0 0 185px;
}

.main-header {
    max-width: 530px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #533738;
    line-height: 62px;
    text-align: left;
}

.subtitle {
    margin-top: 24px;
    max-width: 490px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #533738;
    line-height: 30px;
    text-align: left;
}

/*Button submit request*/
.btn-header {
    margin: 46px 0 168px;
    width: 309px;
    height: 74px;
    padding: 0;
    border: none;
    background: #CC8B86;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #533738;
    line-height: 24px;
}

    .btn-header:hover {
        color: #ffffff;
        background: #533738;
    }

    .btn-header:active {
        color: #000000;
    }

    /*Block about us*/
    .about-inner {
        padding-top: 65px;
        background-color: #e5e5e5;
    }

/*heder level 2 about block*/
.header-block-about {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #533738;
    line-height: 50px;
    text-align: center;
} 

  /*about description*/
.about-content-inner {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.description-about {
    margin-left: 62px;
    width: 530px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #533738;
    line-height: 30px;
    text-align: left;
}

        /*Our progress block*/

.progress-inner {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #8D7370;
}

.progress-item {
    margin: 85px 0 81px 269px;
}

.progress-item:first-child {
    margin-left: 0;
}

    .progress-number {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: 400;
        color: #ffffff;
        line-height: 62px;
        text-align: center;
    }

.progress-text {
    display: block;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

                /*Block Our works */

.works-block {
    background-color: #e5e5e5;
}
.works-inner {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

/*Header works*/
.works-header {
    padding: 65px 0 40px 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #533738;
    line-height: 50px;
    text-align: left;
    text-transform: uppercase;
}

/*Card works*/
.work-item {
    max-width: 100%;
    height: auto;
}

.work-item:hover .work-image img {
        opacity: 0.2; 
    }

.work-inner { /*Видимость елементов внутри изображения*/
    position: relative;
}

.work-image { /*Подложка для изображения*/
    background: #644845;
}

    .work-image img {
        display: block;
        max-width: 100%;
        transition: opacity 0.2s ease;
    }

/*Grid*/
.grid-item-1-2 {
    padding-left: 20px;
    display: grid;
    grid-template-rows: 451px 1fr;
    grid-gap: 30px;
}
.grid-item-3-4 {
    padding-left: 20px;
    grid-template-rows: 1fr 451px;
    grid-gap: 30px;
}  /*/Grid*/


.work-title { /*Заголовок карточки*/
    width: 100%;
    max-width: 270px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s ease;
}

.work-title-1 { /*Позиционирование заголовка блок 1 и 4*/
   top: 27%;
   left: 110px;
}

.work-title-2 { /*Позиционирование заголовка блок 2 и 3*/
    top: 27%;
    left: 215px;
}


.work-item:hover .work-title {
    opacity: 1;
}

.work-description { /*Описание карточки*/
    width: 100%;
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 30px;
    text-align: left;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s ease;
}

.work-description-1 { /*Позиционирование описания блок 1 и 4*/
    top: 55%;
    left: 40px;
}

.work-description-2 { /*Позиционирование описания блок 2 и 3*/
    top: 60%;
    left: 165px;
}

.work-item:hover .work-description {
    opacity: 1;
}

.more-work-item {
    display: block;
    padding: 40px 0 65px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #533738;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.more-work-item:hover {
    opacity: 0.5;
}

    .more-work-item:active {
        opacity: 1;
    }

                /*Block Team*/

.team-block {
    background: #E2C4BA;
}

.team-header {
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #533738;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.team-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-item {
    padding: 42px 0 0 40px;
}

.team-item:first-child {
    padding-left: 0;
}

.team-image {
    width: 100%;
    max-width: 375px;
    height: auto;
}

.description-team {
    padding-top: 10px;
    max-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #533738;
    line-height: 30px;
    text-align: left;
}


                /*Block Header-2 Team*/

.team-progress-header {
    padding-top: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #533738;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.team-progress-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-progress-item {
    padding: 40px 0 0 20px;
}

.team-progress-item:first-child {
    padding-left: 0;
}

/*Progress img circle*/
.progress-num {
    margin-left: 107px;
    width: 70px;
    height: 70px;
    background: #8D7370;
    border: 1px solid #8D7370;
    border-radius: 40px;
}

/*Position numbers inner*/
.number-pos {
    display: block;
    padding-top: 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
}

/*Our progress text*/
.progress-description {
    padding: 20px 0 80px;
    max-width: 285px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #533738;
    line-height: 30px;
    text-align: center;
}

        /*Reviews Block*/

.reviews-block {
    background: #E5E5E5;
}

/*Header Reviews*/
.reviews-header {
    padding-top: 65px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #533738;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.reviews-inner {
    padding-top: 40px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
    
}

/*Slider btn left*/
.reviews-slider-left {
    margin-top: 220px;
    width: 72px;
    height: 72px;
    background: #CC8B86;
    border: 1px solid #CC8B86;
    border-radius: 40px;
    transition: background 0.2s ease, border-color 0.2s ease;
}

        /*Slider btn right*/
.reviews-slider-right {
    margin: 220px 0 0 29px;
    width: 72px;
    height: 72px;
    background: #CC8B86;
    border: 1px solid #CC8B86;
    border-radius: 40px;
    transition: background 0.2s ease, border-color 0.2s ease;
}
        /*Position slider inner*/
.reviews-slider-pos-inner {
    display: block;
    padding-top: 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #F5F2ED;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}
.reviews-slider-left:hover,
.reviews-slider-right:hover {
    background: #8D7370;
    border-color: #8D7370;
}
/*Commentary*/
.reviews-item-text {
    text-align: left;
    padding: 80px 0 0 29px;
}

.reviews-text-comment {
    max-width: 405px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #533738;
    line-height: 30px;
}
/*Author Reviews*/
.reviews-author {
    padding-top: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #533738;
    line-height: 30px;
    text-transform: uppercase;
}

/*Photo Reviews*/
.reviews-image-position {
    width: 30%;
}

.reviews-img-padding {
    padding: 20px 0 65px 20px;
    width: 100%;
    max-width: 408px;
    height: auto;
}

.reviews-img-padding:first-child {
    padding: 0 0 0 20px;
}

            /*Request Bclok*/

.request-block {
    background: #8D7370;
}

.request-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.request-item-left {
    padding-top: 50px;
    text-align: left;
}
/*HEADER request*/
.request-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #533738;
    line-height: 50px;
    text-transform: uppercase;
}

.request-subtitle {
    padding-top: 24px;
    max-width: 507px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #533738;
    line-height: 30px;
}
/*INPUT[Text]*/
.text-field {
    padding-top: 44px;
    display: inline-block;
    width: 500px;
    white-space: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #F6EDE9;
    background: #8D7370;
    line-height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    transition: border 0.2s ease;
}

    /*INPUT[Tel]*/
    .tel-field {
        padding-top: 35px;
        display: block;
        width: 500px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #F6EDE9;
        background: #8D7370;
        line-height: 30px;
        border: none;
        outline: none;
        border-bottom: 1px solid #ffffff;
    }

/*Stylization placeholder fileds[text],[tel]*/
input::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #F6EDE9;
}
/*Event placeholder on select*/
input[type=text]:focus,
input[type=tel]:focus {
    border-bottom: 1px solid #533738;
}

/*Button request*/
.submit-field {
    margin-top: 30px;
    display: block;
    width: 309px;
    height: 74px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #533738;
    background: #CC8B86;
    border: 1px solid #CC8B86;
    transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;
}
/*Button hover event*/
    .submit-field:hover {
        background: #533738;
        color: #ffffff;
        border: 1px solid #533738;
    }
/*Button click event */
    .submit-field:active {
        color: #000000;
    }

/*Google maps*/
.google-map-right {
    padding-left: 20px;
}

                /*FOOTER*/

.footer-block {
    background: #E5E5E5;
}

.footer-inner {
    padding: 37px 0 37px;
    display: flex;
}

.tel-item {
    padding-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #533738;
}

.addr-item {
    padding-left: 42px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #533738;
}

.author-item {
    padding-left: 300px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #533738;
}